In [1]:
import pandas as pd

In [24]:
pd.read_excel("/Users/qiwsir/Documents/Codes/DataSet/jiangsu/jiangsu.xls")

           name      area  population   longd   latd
0       Nanjing   6582.31     8004680  118.78  32.04
1          Wuxi   4787.61     6372624  120.29  31.59
2        Xuzhou  11764.88     8580500  117.20  34.26
3     Changzhou   4384.57     4591972  119.95  31.79
4       Soochow   8488.42    10465994  120.62  31.32
5       Nantong   8001.00     7282835  120.86  32.01
6   Lianyungang   7615.29     4393914  119.16  34.59
7        Huaian   9949.97     4799889  119.15  33.50
8      Yancheng  16972.42     7260240  120.13  33.38
9      Yangzhou   6591.21     4459760  119.42  32.39
10    Zhenjiang   3840.32     3113384  119.44  32.20
11      Taizhou   5787.26     4618558  119.90  32.49
12       Suqian   8555.00     4715553  118.30  33.96

In [25]:
xl = pd.ExcelFile("/Users/qiwsir/Documents/Codes/DataSet/jiangsu/jiangsu.xls")

In [26]:
xl.sheet_names

['Sheet1', 'Sheet2']

In [28]:
xl.parse('Sheet1')

           name      area  population   longd   latd
0       Nanjing   6582.31     8004680  118.78  32.04
1          Wuxi   4787.61     6372624  120.29  31.59
2        Xuzhou  11764.88     8580500  117.20  34.26
3     Changzhou   4384.57     4591972  119.95  31.79
4       Soochow   8488.42    10465994  120.62  31.32
5       Nantong   8001.00     7282835  120.86  32.01
6   Lianyungang   7615.29     4393914  119.16  34.59
7        Huaian   9949.97     4799889  119.15  33.50
8      Yancheng  16972.42     7260240  120.13  33.38
9      Yangzhou   6591.21     4459760  119.42  32.39
10    Zhenjiang   3840.32     3113384  119.44  32.20
11      Taizhou   5787.26     4618558  119.90  32.49
12       Suqian   8555.00     4715553  118.30  33.96

In [29]:
xl.parse("Sheet2")

                school      city
0   Nanjing University   Nanjing
1   Soochow University   Soochow
2     Fudan University  Shanghai
3  Zhejiang University  Hangzhou
4    Tongji University  Shanghai
5  Tsinghua University   Beijing

In [16]:
import requests
wb = requests.get('http://api.apiopen.top/singlePoetry')
wb.text

'{"code":200,"message":"成功!","result":{"author":"佚名","origin":"蓼莪","category":"古诗文-人物-父亲","content":"父兮生我，母兮鞠我。"}}'

In [15]:
wb.text

'{"code":200,"message":"成功!","result":{"author":"江淹","origin":"别赋","category":"古诗文-抒情-离别","content":"黯然销魂者，唯别而已矣！"}}'

In [12]:
wb.status_code

401